<footer class="page-footer blue lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">What's this about?</h5>
        <p class="grey-text text-lighten-4">Just a quick proof-of-concept showing the abilities of Algolia with a Google Contacts list on IBM Bluemix</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.algolia.com/">Algolia</a></li>
          <li><a class="grey-text text-lighten-3" href="https://console.ng.bluemix.net/">Bluemix</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Built with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://twitter.com/ukmadlz" >Mike Elsmore</a>
    </div>
  </div>
</footer>
<!-- Compiled and minified JavaScript -->
<script src="https://use.fontawesome.com/61086dca98.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/pouchdb/6.0.7/pouchdb.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearchLite.min.js"></script>
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script type="text/javascript" >
  $(".button-collapse").sideNav();
</script>
<script type="text/javascript" >
if(navigator.serviceWorker) {
  navigator.serviceWorker.register('/sw.js')
  .then(function(){
    console.log('Loaded Service Worker');
  })
  .catch(function(err){
    console.log('Failed to load Service Worker', err);
  })
} else {
  console.log("This browser doesn't support Service Workers");
}
</script>
