<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">HRAlgolia</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="https://twitter.com/ukmadlz"><i class="fa fa-twitter" aria-hidden="true"></i> ukmadlz</a></li>
      <li><a href="https://github.com/ukmadlz/hralgolia"><i class="fa fa-code-fork" aria-hidden="true"></i> Fork</a></li>
    </ul>
  </div>
</nav>
